.day-container {
  height: 100%;
  flex: 0 0 12%;
  max-width: 12%;
  padding: 0 10px;
}

.day-of-week {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #6A7988;
}

.day-of-month {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #728096;
  margin-bottom: 5px;
}

.container-1 {
  margin-top: 9px;
  padding: 10px;
  height: calc(100% - 55px);
  width: calc(100% - 10px);
  background: #F3F5F8;
  opacity: 0.8;
  border-radius: 6px;
}